<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="rumbafumgmail.onmicrosoft.com" />
    <add key="ida:ClientId" value="be651f79-562c-4228-b1ec-86a761862542" />
    <add key="ida:RedirectUri" value="http://ADALClient" />
    <add key="ADALServerResourceId" value="https://rumbafumgmail.onmicrosoft.com/ADALWebApi" />
    <add key="ADALServerBaseAddress" value="http://localhost/ADALWebApi" />
    <add key="ADALWcfServerResourceId" value="https://rumbafumgmail.onmicrosoft.com/ADALWcf" />
    <add key="ADALWcfServerBaseAddress" value="http://localhost/ADALWcf" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" >
        </binding>
        <binding name="BasicHttpsBinding_IService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ADALWcf/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ADALWcfServiceReference.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="https://localhost/ADALWcf/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpsBinding_IService1" contract="ADALWcfServiceReference.IService1"
        name="BasicHttpsBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>